{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='addform.css')}}">
<script type=text/javascript>
    $(function() {
      $('a#test').bind('click', function() {
        $.getJSON('/getRfid',
            function(data) {
            $('input#RFID').val(data["RFID"]);
            $('input#RFID2').val(data["RFID"]);
        });
      });
    });
</script>  
<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
	.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
	.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
	</style>
{% endblock %}
{% block content %}
<div class="content-section">
	{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <!-- Do something with the message -->
            {{ message }}

        {% endfor %}
    {% endif %}
	{% endwith %}

	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Ajouter Etudiant</legend>
			<div class="form-group">
				{{ form.nom.label(class="form-control-label") }}
				{% if form.nom.errors %}
					{{ form.nom(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.nom.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.nom(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.rfid.label(class="form-control-label") }}
				{% if form.rfid.errors %}
					{{ form.rfid(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.rfid.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.rfid(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.cne.label(class="form-control-label") }}
				{% if form.cne.errors %}
					{{ form.cne(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.cne.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.cne(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
			<a href=# id=test><button type="button" class="btn btn-outline-info">Scanner RFID</button></a>
		</div>
	</form>
</div>
<div class="border-top pt-3">
</div>
<div>
	<table class="tg">
		<tr>
		  <th class="tg-lboi">Student ID</th>
		  <th class="tg-lboi">Nom</th>
		  <th class="tg-lboi">CNE</th>
		  <th class="tg-lboi">RFID</th>
		</tr>	
		{% for row in data %}
		<tr>
		  <td class="tg-lboi">{{row.0}}</td>
		  <td class="tg-lboi">{{row.1}}</td>
		  <td class="tg-lboi">{{row.2}}</td>
		  <td class="tg-lboi">{{row.3}}</td>
		</tr>
	
	  {% endfor  %}
	  </table>
</div>
{% endblock %}