{% extends "layout.html" %}
{% block content %}
  <h1>hells</h1>
  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
  .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <table class="tg">
    <tr>
      <th class="tg-lboi">Student ID</th>
      <th class="tg-lboi">Nom</th>
      <th class="tg-lboi">CNE</th>
      <th class="tg-lboi">Arriver a</th>
    </tr>
    <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start"
           value="2019-12-13"
           min="2019-01-01" max="2019-12-31">

    {% for row in attendance %}
    <tr>
      <td class="tg-lboi">{{row.0}}</td>
      <td class="tg-lboi">{{row.1}}</td>
      <td class="tg-lboi">{{row.2}}</td>
      <td class="tg-lboi">{{row.3}}</td>
    </tr>

  {% endfor  %}
  </table>
  <h2>{{title}}</h2>
{% endblock %}
